.about-page{
    position : absolute;
    border: 3px solid;
    border-color: rgb(197, 197, 197);
    box-shadow: 1px 1px 2.5px 0px rgb(199, 198, 198);
    border-radius : 10px;
    padding : 3%;
    right : 10%;
    top : 10%;
    bottom : 10%;
    left : 10%;
}